<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://consumoelectrico.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>consumoelectrico.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ConsumoElectrico</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ConsumoElectrico</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ConsumoElectrico.Models.ConsumoElectricoContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:consumoelectricodbserver.database.windows.net,1433;Initial Catalog=ConsumoElectrico_db;User ID=AdminCE@consumoelectricodbserver;Password=Pa$$w0rd" Name="Data Source=tcp:consumoelectricodbserver.database.windows.net,1433;Initial Catalog=ConsumoElectrico_db;User Id=AdminCE@consumoelectricodbserver;Password=Pa$$w0rd" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ConsumoElectrico.Models.ConsumoElectricoContext, ConsumoElectrico" MigrationConfiguration="ConsumoElectrico.Migrations.Configuration, ConsumoElectrico" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConsumoElectrico.Models.ConsumoElectricoContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:consumoelectricodbserver.database.windows.net,1433;Initial Catalog=ConsumoElectrico_db;User Id=AdminCE@consumoelectricodbserver;Password=Pa$$w0rd</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>